<mat-toolbar color="primary" style="position:relative;background: linear-gradient(to left, #036ff4 0%, #001fff 90%) !important;"> <span>Angular v11 DataTable CRUD</span> <span style="    position: absolute;
  right: 2%;">Assignee - Ipsi</span></mat-toolbar>

<div class="mat-elevation-z8">
  <div class="example-header">
    <ng-container >
      <button mat-icon-button color="primary" style="margin: 2%;" (click)="addUser()">
        <mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon> Add User
      </button>
    </ng-container>
    <mat-form-field style="float: right;
    padding: 2%;">
   
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div> 
  <table mat-table [dataSource]="dataSource" style="margin-left: 5%;">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>

   
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>

    
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef style="margin-top: 5%;
      margin-left: 3%;">
        Actions
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editDialog(i,row.id)">
          <mat-icon aria-label="Edit">edit</mat-icon> Edit
        </button>

        <button mat-icon-button color="accent" (click)="deleteDialog(i,row.id,row.FirstName, row.LastName, row.Email,row.Address)">
          <mat-icon aria-label="Delete" >delete</mat-icon>
        Delete
        </button>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

 
</div>